.content {
  background-color: black;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
}
.homepage h1 {
  font-size: 120px;
  text-align: right;
  padding-left: 150px;
  padding-bottom: 20px;
}
.homepage h1:hover {
  color: rgb(22, 223, 62);
}
.homepage a {
  text-decoration: none;
  color: white;
}
.homepage {
  height: 100vh;
}
h5 {
  text-align: right;
  padding-right: 70px;
  padding-bottom: 50px;
}

footer a {
  color: black;
  margin: 5px;
  font-size: 20px;
}
footer {
  padding-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
h1 {
  font-weight: lighter;
  padding: 50px;
  text-align: center;
}
h3 {
  border: 2px solid rgb(22, 223, 62);
  margin: 120px 20px 80px 80px;
  max-width: 100%;
}
img {
  border: 2px solid rgb(22, 223, 62);
  padding: 30px;
}
.work {
  margin-top: 4%;
  padding-bottom: 5%;
}

.work a {
  color: white;
  border: 1px solid white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}
.work img {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.contact-info {
  /* margin: 100px; */
  border: 2px solid rgb(22, 223, 62);
  padding-bottom: 10%;
}
.contact-info a {
  text-decoration: none;
  color: white;
}
.contact-info h4 {
  color: rgb(22, 223, 62);
  padding: 20px;
}

footer {
  background-color: rgb(22, 223, 62);
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}
p {
  font-weight: lighter;
  font-size: 20px;
}
.button a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
}
.button a:hover {
  border: 2px solid rgb(22, 223, 62);
}
.navbar-custom {
  background-color: rgb(22, 223, 62);
}
h2 {
  padding: 30px;
}
.documents {
  padding-bottom: 5%;
}
.button {
  margin-top: 0;
  margin-bottom: 60px;
}
.info {
  text-align: center;
  padding: 80px;
  width: 50%;
}

.button {
  margin-top: 30px;
}
.about {
  margin-top: 30px;
  padding-bottom: 8%;
}
.about img {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: calc(10% / 6);
}
a:hover {
  color: rgb(22, 223, 62);
}
.col-6 {
  width: 50%;
  height: 50%;
}
.skills ul {
  list-style-type: none;
  margin-top: 2%;
}

.skills h4 {
  border: 1px solid rgb(22, 223, 62);
  font-weight: lighter;
}
.resume img {
  height: 80%;
  margin-bottom: 10%;
}
.skills .img-fluid {
  height: 200px;
  margin-bottom: 4%;
  margin-top: 4%;
}
.skills span {
  font-size: 18px;
  color: rgb(22, 223, 62);
}
.info h4 {
  color: rgb(22, 223, 62);
}
.about-info a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.about-info a:hover {
  color: rgb(22, 223, 62);
}

/* Media Queries */

@media (max-width: 1000px) {
  /* HomePage */

  .homepage {
  height: 100vh;
}
  .homepage h1 {
    font-size: 200px;
    text-align: right;
    padding-left: 0;
  }
  .homepage h5 {
    display: none;
  }
  .homepage h1:hover {
    color: rgb(22, 223, 62);
  }
  /* About */
  .about {
    height: 1800px;
  }
  /* Contact */
  .contact-info {
    /* margin: 10px; */
    border: none;
    padding-bottom: 110%;
  }
  .contact-info h1 {
    font-size: 80px;
    font-weight: lighter;
    text-align: center;
  }
  .contact-info h4 {
    font-size: 60px;
    color: rgb(22, 223, 62);
  }
  .contact-info p {
    font-size: 50px;
  }
  /* Projects */
  .work {
    display: block;
  }
  .work img {
    display: block;
    padding: 5%;
  }
  .info {
    display: block;
    padding: 10%;
    width: 50%;
  }
  .work p {
    display: none;
  }
  .work h4 {
    font-size: 15px;
  }
  /* Documents */
  .resume img {
    width: 100%;
  }
  .skills .img-fluid{
    width: 100%;
  }

  .documents {
    padding-bottom: 20%;
  }
  /* Navbar */
  .navbar-toggler {
    font-size: 50px;
  }
  .nav-link{
    font-size: 50px;
  }
}
